{{ define "title" }}
Add Employee
{{ end }}

{{ define "css_extra" }}
    <style>
        .container {
            max-width: 500px;
        }
    </style>
{{ end }}

{{ define "content" }}
    <div class="container-fluid container p-0">

        <div class="card">
            <div class="card-header">
                <a href="/employee" class="d-flex align-items-center">
                    <h3 data-feather="corner-up-left" class="mb-1 text-dark"></h3>
                    <h3 class="ms-2 mb-0 text-dark">Tambah Karyawan</h3>
                </a>
            </div>
            <div class="card-body">
                <form action="/employee/add-employee" method="POST">
                    <div class="mb-3">
                        <label>NIK</label>
                        <input type="text" class="form-control {{ if .validation.NIK }} is-invalid {{ end }}" name="nik"
                            value="{{ .employee.NIK }}">
                        <div class="invalid-feedback">
                            {{ .validation.NIK}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Nama Lengkap</label>
                        <input type="text" class="form-control {{ if .validation.Name }} is-invalid {{ end }}" name="name"
                            value="{{ .employee.Name }}">
                        <div class="invalid-feedback">
                            {{ .validation.Name}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" class="form-control {{ if .validation.Email }} is-invalid {{ end }}" name="email"
                            value="{{ .employee.Email }}">
                        <div class="invalid-feedback">
                            {{ .validation.Email}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>No. Handphone</label>
                        <input type="number" class="form-control {{ if .validation.Phone }} is-invalid {{ end }}" name="phone"
                            value="{{ .employee.Phone }}">
                        <div class="invalid-feedback">
                            {{ .validation.Phone}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Alamat</label>
                        <textarea class="form-control {{ if .validation.Address }} is-invalid {{ end }}" name="address"
                            rows="3">{{ .employee.Address }}</textarea>
                        <div class="invalid-feedback">
                            {{ .validation.Address}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Jenis Kelamin</label>
                        <select class="form-control {{ if .validation.Gender }} is-invalid {{ end }}" name="gender">
                            <option value="">-- Pilih --</option>
                            <option {{ if eq .employee.Gender `M` }} selected {{ end }} value="M">Laki-laki</option>
                            <option {{ if eq .employee.Gender `F` }} selected {{ end }} value="F">Perempuan</option>
                        </select>
                        <div class="invalid-feedback">
                            {{ .validation.Gender}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="">Tanggal Lahir</label>
                        <input type="date" name="birth_date"
                            class="form-control {{ if .validation.BirthDate }} is-invalid {{end}}"
                            value="{{ .employee.BirthDate}}" />
                        <div class="invalid-feedback">{{ .validation.BirthDate }}</div>
                    </div>

                    <div class="form-check form-switch mb-3">
                        <label class="form-check-label" for="isAdmin">Admin?</label>
                        <input class="form-check-input" type="checkbox" role="switch" name="is_admin" id="isAdmin"
                            value="false">
                    </div>

                    <!-- JANGAN DIHAPUS -->
                    <!-- <div class="mb-3">
                        <label>Foto</label>
                        <input type="file" class="form-control {{ if .validation.Photo }} is-invalid {{ end }}" name="foto"
                            accept="image/*" onchange="previewFoto(event)">
                        <input type="hidden" name="photo-base64" id="photoBase64" value="{{ .employee.Photo }}">
                        <img id="fotoPreview" class="preview-img img-thumbnail d-none" alt="Preview Foto">
                        <div class="invalid-feedback">
                            {{ .validation.Photo}}
                        </div>
                    </div> -->

                    <button type="submit" class="btn btn-primary w-100">Simpan</button>
                </form>
            </div>
        </div>
    </div>
{{ end }}

{{ define "js_extra" }}
    <script>
        function previewFoto(event) {
            const input = event.target;
            const preview = document.getElementById('fotoPreview');
            const base64Input = document.getElementById('photoBase64');
            const file = input.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.classList.remove("d-none");
                    base64Input.value = e.target.result.split(',')[1]; // Set base64 ke input hidden
                };
                reader.readAsDataURL(file);
            }
        }
        document.addEventListener("DOMContentLoaded", function () {
            const photoBase64 = document.getElementById('photoBase64').value;
            const preview = document.getElementById('fotoPreview');

            if (photoBase64) {
                preview.src = "data:image/jpeg;base64," + photoBase64;
                preview.classList.remove("d-none");
            }
        });
    </script>
{{ end }}