{{ define "title" }}
Add Office
{{ end }}

{{ define "css_extra" }}
    <style>
        .container {
            max-width: 500px;
        }
    </style>
{{ end }}

{{ define "content" }}
    <div class="container-fluid container p-0">
        <div class="card">
            <div class="card-header">
                <a href="/office" class="d-flex align-items-center">
                    <h3 data-feather="corner-up-left" class="mb-1 text-dark"></h3>
                    <h3 class="ms-2 mb-0 text-dark">Tambah Kantor Baru</h3>
                </a>
            </div>
            <div class="card-body">
                <form action="/office/add-office" method="POST">

                    <div class="mb-3">
                        <label>Nama Kantor</label>
                        <input type="text" class="form-control {{ if .validation.Name }} is-invalid {{ end }}" name="name"
                            value="{{ .office.Name }}">
                        <div class="invalid-feedback">
                            {{ .validation.Name}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Alamat</label>
                        <textarea class="form-control {{ if .validation.Address }} is-invalid {{ end }}" name="address"
                            rows="3">{{.office.Address}}</textarea>
                        <div class="invalid-feedback">
                            {{ .validation.Address}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Latitude</label>
                        <input type="number" step="any" class="form-control {{ if .validation.Latitude }} is-invalid {{ end }}"
                            name="latitude" value="{{ .office.Latitude }}">
                        <div class="invalid-feedback">
                            {{ .validation.Latitude}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Longitude</label>
                        <input type="number" step="any" class="form-control {{ if .validation.Longitude }} is-invalid {{ end }}"
                            name="longitude" value="{{ .office.Longitude }}">
                        <div class="invalid-feedback">
                            {{ .validation.Longitude}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="radius" class="form-label">Radius Absensi (meter)</label>
                        <input type="number" class="form-control {{ if .validation.Radius }} is-invalid {{ end }}" name="radius"
                            min="1" value="{{ .office.Radius }}">
                        <div class="invalid-feedback">
                            {{ .validation.Longitude}}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Simpan</button>

                </form>
            </div>
        </div>
    </div>
{{ end }}