{{ define "title" }}
    List KPI
{{ end }}

{{ define "content" }}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col">
            <h1 class="h3 mb-3">List KPI</h1>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <a href="/kpi/add-kpi" class="btn btn-md btn-info"><i data-feather="plus" class="me-2"></i>Buat KPI</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <div class="row">
                        <div class="col mt-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="todayKPI" onclick="filterTodayKPI(this)" {{ if .todayKPI }} checked {{ end }}>
                                <label class="form-check-label" for="todayKPI">KPI Hari Ini</label>
                            </div>
                        </div>
                        <div class="col">
                            <select class="form-select mb-3" id="monthSelect" onchange="changeMonth(this)">
                                {{range .months}}
                                    <option value="{{.}}" {{if eq . $.selectedMonth}}selected{{end}}>{{.}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="KPITable" class="table table-hover my-0">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>NIK</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Dimulai</th>
                                    <th>Deadline</th>
                                    <th>Final Status</th>
                                    <th>Dibuat pada</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .kpis}}
                                <tr>
                                    <td>{{ .Employee_Name}}</td>
                                    <td>{{ .Employee_NIK}}</td>
                                    <td>{{ .Title}}</td>
                                    <td>
                                        {{ if eq .Status "not_started" }}
                                            <span class="badge bg-warning">Menunggu</span>
                                        {{ else if eq .Status "in_progress" }}
                                            <span class="badge bg-info">On Progress</span>
                                        {{ else if eq .Status "done" }}
                                            <span class="badge bg-success">Selesai</span>
                                        {{ else }}
                                            <span class="badge bg-secondary">Tidak diketahui</span>
                                        {{ end }}
                                    </td>
                                    <td>{{ .Started_At }}</td>
                                    <td>
                                        {{ .Deadline }}
                                    </td>
                                    <td>
                                        {{ if eq .Final_Status "pending" }}
                                            <span class="badge bg-warning">Menunggu</span>
                                        {{ else if eq .Final_Status "finished" }}
                                            <span class="badge bg-info">Selesai</span>
                                        {{ else if eq .Final_Status "failed" }}
                                            <span class="badge bg-danger">Gagal</span>
                                        {{ else }}
                                            <span class="badge bg-secondary">Tidak diketahui</span>
                                        {{ end }}
                                    </td>
                                    <td>
                                        {{ .Created_At }}
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="mx-1">
                                                <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#detail{{ .ID }}">
                                                    Detail
                                                </button>
                                                  
                                                  <!-- Modal -->
                                                <div class="modal fade" id="detail{{ .ID }}" tabindex="-1" aria-labelledby="detail{{ .ID }}Label" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header border-bottom-0">
                                                                <h1 class="modal-title fs-5" id="detail{{ .ID }}Label"><strong>Detail KPI {{ .Employee_Name }}</strong></h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Tanggal pengajuan <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>{{.Created_At}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">NIK <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>{{ .Employee_NIK }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Nama <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>{{ .Employee_Name }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Judul <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>
                                                                            {{ .Title }}
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Deskripsi <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>
                                                                            {{ .Description }}
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Target Value <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>
                                                                            {{ .Target_Value }} {{ .Unit }}
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Status <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        {{ if eq .Status "not_started" }}
                                                                            <span class="badge bg-warning">Menunggu</span>
                                                                        {{ else if eq .Status "in_progress" }}
                                                                            <span class="badge bg-info">On Progress</span>
                                                                        {{ else if eq .Status "done" }}
                                                                            <span class="badge bg-success">Selesai</span>
                                                                        {{ else }}
                                                                            <span class="badge bg-secondary">Tidak diketahui</span>
                                                                        {{ end }}
                                                                    </div>
                                                                </div>
                                                                <hr class="mx-0">
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Dimulai Tanggal <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>
                                                                            {{ .Started_At }}
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Tenggat Waktu <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>{{ .Deadline }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Selesai Tanggal <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>{{ .Completed_At }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Bukti Lampiran <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>
                                                                            {{ if .Evidence_File.Valid }}
                                                                                <img src="/images/kpi_evidence/{{ .Evidence_File.String }}" alt="bukti" class="img-fluid rounded mb-2" width="128" height="128" />

                                                                                <a href="data:image/jpeg;base64,{{ .Evidence_File.String }}" download="lampiran.jpg">Download</a>
                                                                            {{ else }}
                                                                                <span>-</span>
                                                                            {{ end }}
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <hr class="mx-0">
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Dibuat oleh <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>{{ .Admin_Name }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Final Status <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        {{ if eq .Final_Status "pending" }}
                                                                            <span class="badge bg-warning">Menunggu</span>
                                                                        {{ else if eq .Final_Status "finished" }}
                                                                            <span class="badge bg-info">Selesai</span>
                                                                        {{ else if eq .Final_Status "failed" }}
                                                                            <span class="badge bg-danger">Gagal</span>
                                                                        {{ else }}
                                                                            <span class="badge bg-secondary">Tidak diketahui</span>
                                                                        {{ end }}
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Diproses tanggal <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>{{ .Checked_At }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Score <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <span>{{ .Score }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-4">
                                                                        <h6><strong class="d-flex justify-content-between">Catatan Admin <span>:</span></strong></h6>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        {{ .Admin_Notes }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mx-1">
                                                <a href="/kpi/evaluasi-kpi?id={{.ID}}&path=kpi" class="btn btn-primary btn-sm">Evaluasi</a>
                                            </div>
                                            <div class="mx-1">
                                                <a href="/kpi/edit-kpi?id={{.ID}}" class="btn btn-warning btn-sm">Edit</a>
                                            </div>
                                            <div class="mx-1">
                                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#hapusKPI{{ .ID }}">
                                                    Hapus
                                                </button>
                                                
                                                <div class="modal fade" id="hapusKPI{{ .ID }}" tabindex="-1" aria-labelledby="hapusKPI{{ .ID }}Label" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header border-bottom-0">
                                                                <h1 class="modal-title fs-5" id="hapusKPI{{ .ID }}Label">Hapus KPI {{ .Title }}</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="form-group">
                                                                        <img src="/images/logo_danger_2.png" class="img-fluid mr-2" width="120">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <h6>Apakah anda yakin ingin menghapus KPI ini?</h6>
                                                                        <span>KPI ini akan <span class="text-danger">dihapus secara permanen</span> dan tidak dapat dikembalikan lagi.</span>
                                                                    </div>
                                                                </div>
                                                                <div class="float-end">
                                                                    <a href="/kpi/delete-kpi?id={{.ID}}" class="btn btn-outline-danger mx-1">Hapus KPI</a>
                                                                    <button type="button" class="btn btn-outline-white mx-1" data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}


{{ define "js_extra" }}
<script>
    $(document).ready(function () {
        $('#KPITable').DataTable({
            ordering: false, // matikan fitur sorting
            pageLength: 25
        });
    });
</script>

<script>
    function changeMonth(select) {
        window.location.href = '?month=' + encodeURIComponent(select.value);
    }
    
    function filterTodayKPI(checkbox) {
        if (checkbox.checked) {
            window.location.href = '?today_kpi=true';
        } else {
            window.location.href = '?today_kpi=false';
        }
    }
</script>
{{ end }}